  --primary900: #333333;
  --primary800: #4A4A4A;
  --primary700: #616161; 
  --primary600: #787878; 
  --primary500: #000000;
  --primary400: #ABABAB; 
  --primary300: #C2C2C2; 
  --primary200: #D9D9D9;
  --primary100: #F0F0F0; 
  --primary50: #FFFFFF; 
  --primarydisable: #E0E0E0;
  --secondary900: #513302; 
  --secondary800: #875403;
  --secondary700: #bd7604;
  --secondary600: #f39805;
  --secondary500: #faa41a; 
  --secondary400: #fbad31;
  --secondary300: #fcbf5f;
  --secondary200: #fdd28c;
  --secondary100: #feedd1;
  --secondary50: #fff6e8;
  --neutral900: #16191c;  
  --neutral800: #25272a;
  --neutral700: #3b3e41;
  --neutral600: #676b70;
  --neutral500: #84888c;
  --neutral400: #94989c;
  --neutral300: #bfc3c7;
  --neutral200: #dfe2e5;
  --neutral100: #eeeff0;
  --neutral50: #fafafa; 
  --success900: #064e3b;
  --success800: #065f46;
  --success700: #047857;
  --success600: #059669;
  --success500: #10b981;
  --success400: #6ee7b7;
  --success300: #6ee7b7;
  --success200: #a7f3d0;
  --success100: #d1fae5;
  --success50: #ecfdf5;
  --warning900: #78350f;
  --warning800: #92400e;
  --warning700: #b45309;
  --warning600: #d97706;
  --warning500: #f59e0b;
  --warning400: #fbbf24;
  --warning300: #fcd34d;
  --warning200: #fde68a;
  --warning100: #fef3c7;
  --warning50: #fffbeb;
  --danger900: #7f1d1d;
  --danger800: #991b1b;
  --danger700: #b61b1b;
  --danger600: #dc2626;
  --danger500: #ef4444;
  --danger400: #f87171;
  --danger300: #fca5a5;
  --danger200: #fecaca;
  --danger100: #fee2e2;
  --danger50: #fef2f2;