:root {
  --primary900: #000000;
  --primary800: #1a1a1a;
  --primary700: #333333; 
  --primary600: #4d4d4d; 
  --primary500: #666666;
  --primary400: #808080; 
  --primary300: #999999; 
  --primary200: #b3b3b3;
  --primary100: #cccccc; 
  --primary50: #e6e6e6; 
  --primarydisable: #93AECC;
  --secondary900: #997a00; 
  --secondary800: #b38f00;
  --secondary700: #cca300;
  --secondary600: #e6b800;
  --secondary500: #ffd700; 
  --secondary400: #ffdb1a;
  --secondary300: #ffe033;
  --secondary200: #ffe54d;
  --secondary100: #ffeb80;
  --secondary50: #fff5b3;
  --neutral900: #000000;  
  --neutral800: #1a1a1a;
  --neutral700: #333333;
  --neutral600: #4d4d4d;
  --neutral500: #666666;
  --neutral400: #808080;
  --neutral300: #999999;
  --neutral200: #b3b3b3;
  --neutral100: #cccccc;
  --neutral50: #f5f5f5; 
  --success900: #064e3b;
  --success800: #065f46;
  --success700: #047857;
  --success600: #059669;
  --success500: #10b981;
  --success400: #6ee7b7;
  --success300: #6ee7b7;
  --success200: #a7f3d0;
  --success100: #d1fae5;
  --success50: #ecfdf5;
  --warning900: #78350f;
  --warning800: #92400e;
  --warning700: #b45309;
  --warning600: #d97706;
  --warning500: #f59e0b;
  --warning400: #fbbf24;
  --warning300: #fcd34d;
  --warning200: #fde68a;
  --warning100: #fef3c7;
  --warning50: #fffbeb;
  --danger900: #7f1d1d;
  --danger800: #991b1b;
  --danger700: #b61b1b;
  --danger600: #dc2626;
  --danger500: #ef4444;
  --danger400: #f87171;
  --danger300: #fca5a5;
  --danger200: #fecaca;
  --danger100: #fee2e2;
  --danger50: #fef2f2;
}